@font-face {
    font-family: "ISOCPEUR";
    src: url(http://dirt.io/fonts/isocpeur.ttf) format("truetype");
}
@font-face {
    font-family: "CGothic";
    src: url(http://dirt.io/fonts/CGothic.ttf) format("truetype");
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  font-family: "CGothic";
}

div#bartop {
  font-family: "CGothic";
  font-size: .9em;
  color: white;
  text-align:center;
  background-color: #FF3333;
  top: 0;
  right: 0;
  left: 0;
  padding: 1% 0 1% 0;
}

div#main {
  display:block;
  text-align: center;
  margin-top: 10%;
  width: 100%;
}

form#namecheck_form {
  display:block;
  margin-top: 10% !important;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

a.no_under{text-decoration:none;}
a:link {color:#000000;}
a:visited {color:#000000;}
a:active {color:#000000;}
a:hover {color:#FF3333;}

div.avail-yes,
div.avail-soon,
div.avail-no{
  padding: 5%;
}

.avail-yes{
  background-color: rgb(67, 117, 41);
}
.avail-soon{
  background-color: rgb(207, 120, 0);
}
.avail-no{
  background-color: rgb(166, 0, 0);
}

.upcoming{
margin: 2% auto 0 auto;
text-align:center;
}

#details{
  text-align:left;
}

#ad{
margin: 2% auto 0 auto;
width:100%;
text-align:center;
}

#counter{
display:table;
margin-top:2%;
margin-left:auto;
margin-right:auto;
}
#counter div.label{
display:table-cell;
}
#ntoday,#ntotal{
display:table-cell;
font-weight:bold;
width:20%;
}

@media screen and (min-width: 768px) {
  .bigwords{
    margin-right: auto;
    font-family: "CGothic";
    font-size: 3.8em;
  }

  .smallwords{
    margin-right: auto;
    font-family: "ISOCPEUR";
    font-size: 2em;
  }

  .tweets{
  margin: 1% auto 0 auto;
  width:520px;
  text-align:center;
  }
  
  .contact {
    position:fixed;
    text-align:right;
    right:3%;
    bottom:3%;
    font-size: 0.8em;
    font-family: "CGothic";
    color:#000000;
  }
  
  div#results {
    display:block;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 500px;
    font-size: 1em;
    color: white; 
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .bigwords{
    margin-right: auto;
    font-family: "CGothic";
    font-size: 3em;
  }

  .smallwords{ 
    margin-right: auto;
    font-family: "ISOCPEUR";
    font-size: 1.6em;
  }

  .tweets{
    display:block;
    margin: 5% auto 5% auto;
    width:100%;
    text-align:center;
  }
    
  .contact {
    width:100%;
    text-align:center;
    font-size: 0.8em;
    font-family: "CGothic";
    color:#000000;
  }
  
  div#results {
    display:block;
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    font-size: .8em;
    color: white; 
    text-align: center;
  }
}