<html>
  <head>
    <title>LoL Namecheck</title>
    <meta name="Description" content="League of Legends Summoner Name Availability Checker" />
    <!--AngularJS-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="check_controller.js"></script>
    <script src="analytics.js"></script>
    <link href="checker.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="favicon.ico"> 
  </head>
  <body bgcolor="#cdcdcd" ng-app="check" ng-controller="checkController">
    <div id="main">
      <h1 class="bigwords" style="font-weight:normal">LoL Namecheck</h1>
      <h3 class="smallwords" style="font-weight:normal">League of Legends name availability checker</h3>
      <form ng-submit="check()" id="form">
        Username:<input type="text" placeholder=" Summoner name..." name="username" ng-model="username"><select ng-model="region" ng-options="r.name for r in regions"></select><button type="button" ng-click="check()">Check</button>
      </form>
    </div>
    <div id="contents">
      <div id="result" ng-show="valid==0" style="text-align:center"></div>
      <div id="davail" ng-show="(valid!=999) && (valid !=0)" ng-style="cssavail"></div>
      <div id="dname" ng-style="cssname" ng-show="(valid!=999) && (valid !=0)"></div>
      <div id="davaildate" ng-show="(valid == 2)||(valid == 3)" ng-style="cssavaildate"></div>
    </div>
    <div class="contact">
      <p>Hyunmok "Plant" Jeong </p><a class="no_under" href="http://dirt.io">dirt.io</a><br><a class="no_under" href="mailto:hm@dirt.io">hm@dirt.io</a>
    </div>
  </body>
</html>